/* @import-normalize;  */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  color: #000;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  display: block;
}
.title {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
label {
  font-size: 18px;
  padding-bottom: 10px;
  color: #f7f7f7;
}
input {
  display: block;
  margin-bottom: 20px;
}
.input {
  display: block;
  width: 350px;
  height: 30px;
  border: 0;
  padding: 13px;
  border-radius: 6px;
  height: 44px;
}
.btn {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;

  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: 350px;
  margin-top: 15px;
}

.btn:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.btn:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.btn:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}
.wrapper {
  background-color: rgb(0, 195, 255);
  border-radius: 20px;
  border: 0px;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 60px;
  padding-bottom: 80px;
}
.search-wrapper {
  background-color: rgb(0, 195, 255);
  border-radius: 20px;
  border: 0px;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 0px;
  padding-top: 10px;
}
.contacts-wrapper {
background-color: rgb(0, 195, 255);
  border-radius: 20px;
  border: 0px;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 0px;
  padding-top: 10px;
}
.homewrapper {
background-color: rgb(0, 195, 255);
  border-radius: 20px;
  border: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 300px;
  padding-top: 10px;
  max-width: 600px;
  margin: 0 auto;
}
.navigation {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: row;
  justify-content: space-around;
}
.navigation-btn {
  text-decoration: none;
  color: #000;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}
.navigation-btn:hover {
  text-decoration: underline;
}
.user-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.txt {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  padding-top: 15px;

  text-align: center;
  color: #000;
  padding-right: 20px;
}
.user-btn {
  max-width: 140px;
}
.user-wrapper {
  margin-top: 30px;
}
.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
.btn-delite {
  width: 80px;
  font-size: 12px;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
  border: #000 1px solid;
  font-weight: normal;
}
.btn-delite:hover {
  background-color: #fff;
}
.contact-txt {
  display: block;
  padding-right: 60px;
}
.contactsSection {
  margin-top: 60px;
}
